@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: url(../img/background_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3px;
    color: white;
}
h1, .milan-logo-svg, .pop-line, .gallery-title, .tel, .mail {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.wrapper {
    width: 1045px;
    max-width: 100%;
    margin: 0 auto;
}
h1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 25px;
    text-transform: uppercase;
}
h1 span {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: white;
}
img {
    width: 300px;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}
.mh-logo {
    display: flex;
    gap: 8px;
}
.milan-logo-svg {
    width: 53px;
    height: 47px;
    fill: white;
}
.mail:hover {
    color: #F26522;
}
.tel:hover {
    color: #F26522;
}
.mh-logo:hover .milan-logo-svg {
    fill: #F26522;
}
.mh-logo:hover h1 {
    color: #F26522;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
    font-size: 18px;
    line-height: 18px;
}
.gallery {
    padding-top: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-column-gap: 64px;
    grid-row-gap: 37px;
    grid-auto-rows: minmax(0, auto);
    grid-template-areas: 'item-1 item-2 item-3' 'item-4 item-5 item-6' ;
}
.gallery-item-1 {
    grid-area: item-1;
}
.gallery-item-2 {
    grid-area: item-2;
}
.gallery-item-3 {
    grid-area: item-3;
}
.gallery-item-4 {
    grid-area: item-4;
}
.gallery-item-5 {
    grid-area: item-5;
}
.gallery-item-6 {
    grid-area: item-6;
}
.picture-wrap {
    position: relative;
    display: block;
    overflow: hidden;
}
.pop-line {
    position: absolute;
    bottom: -55px;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px 16px 10px;
}
.picture:hover .pop-line {
    bottom: 0px;
}
.picture:hover + .gallery-title {
    color: #F26522;
}
.price span {
    font-size: 10px;
}
.price p {
    font-size: 20px;
    margin-top: 6px;
}
.details {
    font-size: 14px;
    display: flex;
    gap: 16px;
}
.details::after {
    content: url(../img/Vector_1.svg);
}
.gallery-title {
    text-align: center;
    padding-top: 20px;
}
.gallery-title:hover {
    color: #F26522;
}
.credits {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding-top: 49px;
    padding-bottom: 15px;
}


  .border-gradient {
    border-left: 3px solid;
    border-right: 3px solid;
    border-image: 
    linear-gradient(
        to bottom, 
        #d2d2d2, 
        rgb(27 27 27)
      ) 1 100%
  }

 
